# Core dependencies

gensim

# AI and LLM
google-generativeai

# Web and API
requests
beautifulsoup4
fastapi
uvicorn

# Security tools interfaces
pyyaml>=6.0.1

# Database
sqlalchemy
pymongo

# Utilities
python-dotenv
colorlog
streamlit
grpcio
pyzmq

# Reporting
jinja2>=3.1.0
reportlab
markdown>=3.6.0
